body{
    background-color: #F0F2F5;
    margin-top: -8px;
    margin-left: 20px; 
    margin-right: 28px; 
    

}

.main-box{
    background-color: white;
    margin-left: 456px;
    margin-right: 510px; 
    padding-left: 75px;
    height: 85px;
    width: 305px;
    box-shadow: 0px 3px 20px -10px;
}


img{
    height: 84px;
    width: 334px;
    margin-left: 484px;
    padding-top: 40px;
}


#form{
    padding-top: 20px;
    padding-bottom: 21%;
    padding-right: 2px;
}



input[type= "text"]{
    width: 338px; 
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}


#label{
    font-size: 18px;
    font-weight:lighter;
    padding-left: 48px;
}


#email{
    margin-bottom: 18px;
    margin-top: 20px;
    margin-left: -60px;    
    
}


#pass{
    margin-bottom: 18px;
    margin-left: -60px;
}


.button{
    background-color:#1877F2;
    margin-left: -60px;
    margin-bottom: 20px;
    height: 42px;
    width: 354px;
    font-size: 20px;
    font-weight:700;
    color: white;
    border-radius: 6px;
    text-align:center;
}

.link{
    margin-left:52px;
    color: #1877F2;
}

.parag{
    margin-left: -52px;
}


.button2{
    background-color:#36A420;
    margin-left: 26px;
    margin-bottom: 20px;
    height: 42px;
    width: 174px;
    font-size: 15px;
    font-weight:700;
    color: white;
    border-radius: 6px;
    text-align:center;
}

.footer{
    background-color: #ffffff;
    font-size: 11px;
    height: 155px;
    margin-left: -20px;
    margin-right: -28px;
    padding-top: 44px;
    font-weight: lighter;
    margin-top: 77px;
    padding-left: 234px;
}